
<style>
  .criterion .select2-container { width: auto !important }
  .bootstrap-switch .bootstrap-switch-handle-on, .bootstrap-switch .bootstrap-switch-handle-off, .bootstrap-switch .bootstrap-switch-label { font-size: 12px !important }
</style>

<% form_tag url(:index, :model => model.to_s), method: 'get', id: 'search' do %>
  <div class="well">
    <div id="criteria"></div>
    <i id="addCriterion" class="fa fa-plus-square"></i>
    <%= select_tag :all_any, :class => 'form-control', :style => 'width: auto; display: inline-block', :options => [['all the above','all'],[['any of the above'],'any']], :selected => params[:all_any] %>
    <%= submit_tag 'Search', class: 'btn btn-default' %>
    </div>
  <% end %>


  <script>
    $(function () {

  <%
  fields = admin_fields(model)
  fields = Hash[fields.select { |fieldname, options| (persisted_field?(model, fieldname) and queryable.include?(options[:type])) or options[:type] == :collection }.map { |fieldname, options|
      [fieldname, options[:type] == :collection ? (submodel = options[:class_name].constantize; admin_fields(submodel).select { |fieldname, options| (persisted_field?(submodel, fieldname) and queryable.include?(options[:type])) }) : options]
    }]
%>
      var fields = <%= fields.to_json %>

      function addCriterion(selected, bValue, inputValue) {
        var criterion = $('<div class="criterion form-group"></div>')

        var select = $('<select name="qk[]" class="form-control" style="display: inline-block; width: auto"><option></option></select>')
        var equality = $('<select name="qb[]" class="form-control" style="display: inline-block; width: auto"><option value="in">is</option><option value="nin">is not</option><option value="gt">&gt;</option><option value="gte">&gt;=</option><option value="lt">&lt;</option><option value="lte">&lt;=</option></select>')
        var input = $('<input name="qv[]" class="form-control" style="display: inline-block; width: auto" type="text">')
        var cross = $('<i style="margin-left: 5px" class="fa fa-times"></i>')

        select.appendTo(criterion)
        equality.appendTo(criterion)
        input.appendTo(criterion)
        cross.appendTo(criterion)

        select.change(function () {
          if ($(this).val()) {
            if (select.val().indexOf('.') == -1) {
              var fieldname = select.val()
              if (fields[fieldname].class_name) {
                input.attr('type', 'hidden').removeClass('form-control').lookup({
                  lookup_url: '<%=ActivateAdmin::App.uri_root%>/index/' + fields[fieldname].class_name + '.json',
                  placeholder: 'Search ' + fieldname + 's',
                  id_param: 'id'
                })
              }
            } else {
              var collection = select.val().split('.')[0]
              var fieldname = select.val().split('.')[1]
              if (fields[collection][fieldname].class_name) {
                input.attr('type', 'hidden').removeClass('form-control').lookup({
                  lookup_url: '<%=ActivateAdmin::App.uri_root%>/index/' + fields[collection][fieldname].class_name + '.json',
                  placeholder: 'Search ' + fieldname + 's',
                  id_param: 'id'
                })
              }
            }
          }
        })

        cross.click(function () {
          $(this).parent().remove()
        })

        $.each(fields, function (fieldname, options) {
          if (options.type) {
            var option = $("<option></option>")
            option.attr("value", fieldname).text(fieldname)
            option.appendTo(select)
          } else { // collection
            $.each(options, function (f2, o2) {
              var option = $("<option></option>")
              option.attr("value", fieldname + '.' + f2).text(fieldname + '.' + f2)
              option.appendTo(select)
            })
          }
        })
        select.val(selected)
        input.val(inputValue)
        equality.val(bValue)
        select.change()

        criterion.appendTo('#criteria')
      }

      $('#addCriterion').click(function () {
        addCriterion(null, 1, null)
      })

  <% params[:qk].each_with_index { |fieldname,i| %>
        addCriterion('<%=params[:qk][i]%>', '<%=params[:qb][i]%>', '<%=params[:qv][i]%>')
  <%  } if params[:qk] %>

    })
  </script>