
<div class="page-header"> 
  <h1><%= @resource.new_record? ? "New #{human_model_name(model).downcase}" : "Edit #{human_model_name(model).downcase}"%></h1>
  <% unless params[:popup] %><a href="<%=url(:index, :model => model.to_s)%>" class="btn btn-default"><i class="fa fa-backward"></i>&nbsp;Back</a><% end %>
</div>

<% form_for model.to_s.underscore.to_sym, (@resource.new_record? ? url(:new, :model => model.to_s) : url(:edit, :model => model.to_s, :id => @resource.id)), :multipart => true, :class => 'form-horizontal', :builder => 'ActivateFormBuilder' do |f| %>

  <%= hidden_field_tag :popup, :value => true if params[:popup] %>

  <% model.fields_for_form.each { |fieldname, fieldtype| %> 
    <% unless @resource.new_record? and fieldtype == :collection %>
      <%= f.send("#{fieldtype}_block", fieldname) %>
    <% end %>
  <% } %>

  <%= f.submit_block(destroy_url: url(:destroy, :model => model.to_s, :id => object.id)) %>

<% end %>
