
<div class="page-header"> 
  <h1><%= @resource.new_record? ? "New #{human_model_name(model).downcase}" : "Edit #{human_model_name(model).downcase}"%></h1>
  <% unless params[:popup] %><a href="<%=url(:index, :model => model.to_s)%>" class="btn btn-default"><i class="fa fa-backward"></i>&nbsp;Back</a><% end %>
</div>

<% form_for model.to_s.underscore.to_sym, (@resource.new_record? ? url(:new, :model => model.to_s) : url(:edit, :model => model.to_s, :id => @resource.id)), :multipart => true, :class => 'form-horizontal' do |f| %>

  <%= hidden_field_tag :popup, :value => true if params[:popup] %>

  <% admin_fields(model).select { |fieldname, options| options[:edit] }.each { |fieldname, options| %> 
    <% unless @resource.new_record? and options[:type] == :collection %>
      <% case options[:type]; when :lookup %>          
        <%= f.lookup_block(fieldname, selected: params[fieldname], tip: options[@resource.new_record? ? :new_tip : :edit_tip], hint: options[@resource.new_record? ? :new_hint : :edit_hint]) %>
      <% else %>
        <%= f.send("#{options[:type]}_block", fieldname, tip: options[@resource.new_record? ? :new_tip : :edit_tip], hint: options[@resource.new_record? ? :new_hint : :edit_hint]) %>
      <% end %>
    <% end %>
  <% } %>

  <%= f.submit_block(destroy_url: (url(:destroy, :popup => params[:popup], :model => model.to_s, :id => @resource.id) if @resource.persisted?)) %>

<% end %>
