<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= ENV['ADMIN_SITE_NAME'] || 'ActivateAdmin' %></title> 

    <% {            
      'jquery/1.11.2' => 'jquery.min.js',
      'popper.js/1.11.0' => 'umd/popper.min.js',
      'twitter-bootstrap/4.0.0-beta' => 'css/bootstrap.min.css js/bootstrap.min.js',
      'font-awesome/4.7.0' => 'css/font-awesome.min.css',
      'select2/3.5.2' => 'select2.min.js select2.min.css',  
      'codemirror/5.0.0' => 'codemirror.min.css theme/monokai.min.css codemirror.min.js mode/xml/xml.min.js',      
      'summernote/0.6.1' => 'summernote.min.css summernote.min.js',
      'bootstrap-colorpicker/2.5.1' => 'js/bootstrap-colorpicker.min.js css/bootstrap-colorpicker.min.css',
      'flatpickr/3.0.7' => 'flatpickr.min.js flatpickr.min.css'      
      }.each { |k,v| %>    
      <% v.split(' ').each { |f| u = "https://cdnjs.cloudflare.com/ajax/libs/#{k}/#{f}" %>
        <% case f.split('.').last.to_sym; when :js %>
          <script src="<%=u%>"></script>      
        <% when :css %>
          <link rel="stylesheet" href="<%=u%>" />
        <% end %>
      <% } %>
    <% } %>

    <% [      
      "#{ActivateAdmin::App.uri_root}/stylesheets/app.css"
      ].each { |f| %> 
      <link rel="stylesheet" href="<%=f%>" />    
    <% } %>

    <% [
      "//maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_MAPS_API_KEY']}",
      'https://raw.githack.com/chrissrogers/jquery-deparam/05018fe327c3675250f91f6ead6e83ef90dab1d0/jquery-deparam.min.js',
      'https://raw.githack.com/wordsandwriting/activate-tools/b0876ce31f64eb41549e449371dd6b34d0fdff8b/js/jquery.geopicker.js',
      'https://raw.githack.com/wordsandwriting/activate-tools/b0876ce31f64eb41549e449371dd6b34d0fdff8b/js/jquery.lookup.js',
      "#{ActivateAdmin::App.uri_root}/javascripts/app.js"
      ].each { |f| %>
      <script src="<%=f%>"></script>
    <% } %>    

    <%= partial :summernote %>

  </head>
  <body>

    <%= partial :alert %>

    <nav class="navbar fixed-top navbar-dark bg-dark navbar-expand-lg" role="navigation">
      <a class="navbar-brand" href="<%=url(:home)%>"><%= ENV['ADMIN_SITE_NAME'] || 'ActivateAdmin' %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-collapse"> 

        <% if (current_account and current_account.admin?) %>
          <%= ul_nav [
            ['Models', models.sort_by { |model| model.to_s }.map { |model|
                [human_model_name(model).pluralize, url(:index, :model => model.to_s)]
              }],
            (['Configuration variables', url(:config)] if ENV['HEROKU_OAUTH_TOKEN']),
            ]
        %>
          <%= ul_nav [
            ['Sign out', url(:logout)]
            ], ul_class: 'navbar-nav ml-auto' %>
        <% end %>

      </div>
    </nav>    

    <div class="container-fluid">
      <%= yield %>
    </div>

  </body>
</html>

