<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= ENV['ADMIN_SITE_NAME'] || 'ActivateAdmin' %></title>

    <% {
         'jquery/1.11.2' => 'jquery.min.js',
         'popper.js/1.11.0' => 'umd/popper.min.js',
         'twitter-bootstrap/4.0.0-beta' => 'css/bootstrap.min.css js/bootstrap.min.js',
         'font-awesome/4.7.0' => 'css/font-awesome.min.css',
         'select2/4.0.13' => 'js/select2.full.min.js css/select2.min.css',
         'flatpickr/3.0.7' => 'flatpickr.min.js flatpickr.min.css'
       }.each { |k,v| %>
    <% v.split(' ').each { |f| u = "https://cdnjs.cloudflare.com/ajax/libs/#{k}/#{f}" %>
    <% case f.split('.').last.to_sym; when :js %>
      <script src="<%= u %>"></script>
    <% when :css %>
      <link rel="stylesheet" href="<%= u %>">
    <% end %>
    <% } %>
    <% } %>

    <% [
         "#{ActivateAdmin::App.uri_root}/stylesheets/app.css",
         '//cdn.rawgit.com/ttskch/select2-bootstrap4-theme/a556a9d7cb2d7254b6e95cc8ec1ebceaa5ed8ddc/dist/select2-bootstrap4.min.css'
       ].each { |f| %>
    <link rel="stylesheet" href="<%= f %>">
    <% } %>

    <% [
         '//cdn.rawgit.com/symbiota-coop/dandelion/1fe32d9b028ba6b19ea22141497c61b8a7440a1b/app/assets/javascripts/ext/jquery-deparam.js',
         '//cdn.rawgit.com/symbiota-coop/dandelion/1fe32d9b028ba6b19ea22141497c61b8a7440a1b/app/assets/javascripts/jquery.lookup.js',
         "#{ActivateAdmin::App.uri_root}/javascripts/app.js"
       ].each { |f| %>
    <script src="<%= f %>"></script>
    <% } %>

  </head>
  <body>

    <%= partial :alert %>
    <%= partial :nav %>

    <div class="container-fluid">
      <%= yield %>
    </div>

  </body>
</html>
