<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= ENV['ADMIN_SITE_NAME'] || 'ActivateAdmin' %></title> 

    <% {            
      'jquery/1.11.2' => 'jquery.min.js',
      'popper.js/1.11.0' => 'umd/popper.min.js',
      'twitter-bootstrap/4.0.0-beta' => 'css/bootstrap.min.css js/bootstrap.min.js',
      'font-awesome/4.7.0' => 'css/font-awesome.min.css',
      'select2/3.5.2' => 'select2.min.js select2.min.css',  
      'bootstrap-colorpicker/2.5.1' => 'js/bootstrap-colorpicker.min.js css/bootstrap-colorpicker.min.css',
      'flatpickr/3.0.7' => 'flatpickr.min.js flatpickr.min.css'      
      }.each { |k,v| %>    
      <% v.split(' ').each { |f| u = "https://cdnjs.cloudflare.com/ajax/libs/#{k}/#{f}" %>
        <% case f.split('.').last.to_sym; when :js %>
          <script src="<%=u%>"></script>      
        <% when :css %>
          <link rel="stylesheet" href="<%=u%>" />
        <% end %>
      <% } %>
    <% } %>

    <% [      
      "#{ActivateAdmin::App.uri_root}/stylesheets/app.css"
      ].each { |f| %> 
      <link rel="stylesheet" href="<%=f%>" />    
    <% } %>

    <% [
      "//maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_MAPS_API_KEY']}",
      '//cdn.rawgit.com/chrissrogers/jquery-deparam/05018fe327c3675250f91f6ead6e83ef90dab1d0/jquery-deparam.min.js',
      '//cdn.rawgit.com/wordsandwriting/activate-tools/b0876ce31f64eb41549e449371dd6b34d0fdff8b/js/jquery.geopicker.js',
      '//cdn.rawgit.com/wordsandwriting/activate-tools/b0876ce31f64eb41549e449371dd6b34d0fdff8b/js/jquery.lookup.js',
      "//cdn.rawgit.com/wordsandwriting/activate-tools/7a73525b76c8234a4803e3196b4403ec6fd6ded7/js/textboxio/textboxio.js",
      "#{ActivateAdmin::App.uri_root}/javascripts/app.js"
      ].each { |f| %>
      <script src="<%=f%>"></script>
    <% } %>    

  </head>
  <body>

    <%= partial :alert %>
    <%= partial :nav %>

    <div class="container-fluid">
      <%= yield %>
    </div>

  </body>
</html>

