<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ActivateAdmin</title> 

    <%
    [
      'bootstrap.min.css',
      'bootstrap-theme.min.css',
      'font-awesome.min.css',
      'bootstrap-wysihtml5-0.0.3.css'    
      ].each { |file| %> 
      <link rel="stylesheet" href="<%=ActivateAdmin::App.uri_root%>/stylesheets/<%=file%>" />    
    <% } %>

    <% [
      'jquery-1.10.2.min.js',
      'bootstrap.min.js',
      'wysihtml5-0.3.0.js',
      'bootstrap-wysihtml5-0.0.3.js',
      'jquery.deparam.js',
      'jquery.confirm.js',
      'jquery.popupWindow.js'
      ].each { |file| %>
      <script src="<%=ActivateAdmin::App.uri_root%>/javascripts/<%=file%>"></script>
    <% } %>

    <style>
      body { padding: 60px 20px; }
      .page-header { margin-top: 0; padding-bottom: 10px }
      .page-header h1 { display: inline }
      .page-header a { margin-left: 10px; position: relative; top: -6px }
      select[name*=day], select[name*=month], select[name*=year], select[name*=hour], select[name*=min] { display:inline; width: auto } 
    </style>

    <script>
      $(function() {
        $('textarea.wysiwyg').wysihtml5({html: true});
        $('input[type=text].slug').each(function() {
          var slug = $(this);
          var start_length = slug.val().length;
          var pos = $.inArray(this, $('input', this.form)) - 1;
          var title = $($('input', this.form).get(pos));
          slug.focus(function() {
            slug.data('focus', true);
          });
          title.keyup(function() {
            if (start_length == 0 && slug.data('focus') != true)
              slug.val(title.val().toLowerCase().replace(/ /g, '-').replace(/[^a-z0-9\-]/g, ''));
          });
        });
      });
    </script>    

  </head>
  <body>

    <div style="z-index: 1040; width: 40%; margin-left: -20%; left: 50%; position: absolute; margin-top: -40px">
      <% {:error => 'alert-danger', :warning => 'alert-warning', :notice => 'alert-info'}.each { |k,v| %>
        <% if flash[k] %>
          <div id="top-alert" class="fade in alert <%=v%> alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%= flash[k] %>
          </div>
        <% end %>        
      <% } %>       
    </div>
    <script>
      $(function() {
        $(".alert").alert()
        window.setTimeout(function() {
          $("#top-alert").alert('close');
        }, 3000);
      });
    </script>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-top-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" style="font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;" href="<%=url(:home)%>">ActivateAdmin</a>
      </div>
      <div class="collapse navbar-collapse navbar-top-collapse">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="javascript:;"><i class="fa fa-files-o"></i> <b class="caret"></b></a>
            <%= ul_nav 'dropdown-menu', models.sort_by { |model| model.to_s }.map { |model|
              [human_model_name(model).pluralize, url(:index, :model => model.to_s)]
              }
          %>
        </ul>
        <div class="navbar-right">
          <ul class="nav navbar-nav">
            <li><a href="<%=url(:logout)%>">Sign out</a></li>
          </ul>
        </div>
      </div>
    </nav>    

    <%= yield %>

  </body>
</html>

